<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="Trace" internalLogFile="D:\School (D)\Minor ASE-B\Project NARROWCAST\Narrowcast-ASE\Narrowcast-Projects\Narrowcast.Api\Log\InnerLog.txt">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>
    <target name="logfile" xsi:type="File" fileName="D:/School (D)/Minor ASE-B/Project NARROWCAST/Narrowcast-ASE/Narrowcast-Projects/Narrowcast.Api/Log/${shortdate}_log.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
